





        .homePage {
            padding: 0 50px 
        }


        .homePage :global(.ant-input-group){

            margin-left: auto !important;
            margin-right: auto;
            min-width: 500px;
            border-radius: 27.5px;
            max-width: 746px;
            width: 100%;
            margin-top: 70px;
                
        }
    


    
            
        /* .ant-input-group-addon {
            background-color: transparent;
        } */
        .homePage :global(.ant-input){
            height: 55px;
            border-radius: 27.5px;
        
        }
        
        .homePage :global(.ant-input-search-enter-button + .ant-input-group-addon .ant-input-search-button, .ant-input-search-enter-button input + .ant-input-group-addon .ant-input-search-button){
            border-radius: 27.5px;
        }
        
        
        .homePage :global(.ant-input-search-button){
            height: 55px;
            border-radius: 27.5px !important;
            border-top-left-radius: 27.5px;
            margin-right: -60px;
            padding:0 30px;
        
        }

            
        
        
        
    


