
/* @import '~antd/lib/style/themes/default.css'; */


.chartCard {
  position: relative;
}
.chartTop {
    position: relative;
    overflow: hidden;
    width: 100%;
}
.chartTopMargin {
    margin-bottom: 12px;
}
.chartTopHasMargin {
    margin-bottom: 20px;
}
.metaWrap {
    float: left;
}
.avatar {
    position: relative;
    top: 4px;
    float: left;
    margin-right: 20px;
  
}
.avatar img {
  border-radius: 100%;
}
/* .meta {
    color: @text-color-secondary;
    font-size: @font-size-base;
    line-height: 22px;
    height: 22px;
} */
.action {
    cursor: pointer;
    position: absolute;
    top: 4px;
    right: 0;
    line-height: 1;
  }
.total {
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    white-space: nowrap;
    color: rgba(0,0,0,.85);
    margin-top: 4px;
    margin-bottom: 0;
    font-size: 30px;
    line-height: 38px;
    height: 38px;
  }
  .content {
    margin-bottom: 12px;
    position: relative;
    width: 100%;
  }
  .contentFixed {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
  }
  .footer {
    border-top: 1px solid #ffffff;
    padding-top: 9px;
    margin-top: 8px;
    /* & > * {
      position: relative;
    } */
  }
  .footerMargin {
    margin-top: 20px;
  }

